@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

body {
  margin: 0px;
  width: 100vw;
  text-align: center;
  background-color: #ecf0f1;
  color: #63707e;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  .mylogo {
    width: 40px;
    margin: 10px 0px 10px 30px;
  }
}

h1 {
  margin: 0;
  font-size: 5.625rem;
  color: #34495e;
  font-family: 'Kalam', cursive;
}

h2{
  font-size: 2rem;
  color: #34495e;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'Kalam', cursive;
  margin-bottom: 15px;
}

h3 {
  color: #3498db;
}

hr{
  border-style: dotted;
  border-width: 10px 0px 0px 0px;
  margin: 30px auto;
  width: 6%;
  border-color: #63707e;
}

.skills {
  margin: 120px auto 50px auto;
}

p{
  line-height: 2;
}

.intro {
  display: flex;
  background: url(../assets/img/me.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  h1 {
   justify-self: flex-start;
   margin-left: 20px;
   margin-top: 70px;
  }
  h2 {
    margin-right: 120px;
    margin-top: 50vh;
    justify-self: flex-end;
  }
}

.title {
  h1 {
    margin: 40px auto 0 auto;
  }
  .description{
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
  }
  .button {
    margin-top: 200px;
  }
}

.footer {
  background-color: #f1c40f;
  padding-top: 10px;
  margin-top: 50px;
}

.skill-row{
  width: 55%;
  margin: 60px auto;
  text-align: left;
  line-height: 2;
  h3 {
    align-self: center;
  }
}

.profImg{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  background-color: #f1c40f;
  border-radius: 20px;
}

.contact-description{
  width: 55%;
  margin: 20px auto 20px auto;
  padding-bottom: 40px;
}

.button {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  -webkit-box-shadow: 2px 2px 3px #a3a3a3;
  -moz-box-shadow: 2px 2px 3px #a3a3a3;
  box-shadow: 2px 2px 3px #a3a3a3;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px 20px;
}

.button:hover {
  background: #c56868;
  text-decoration: none;
  transition: 0.5s;
}

.copyright{
  color: black;
  margin: auto;
  font-size: 0.75rem;
}

.logo{
  width: 30px;
  margin: 5px;
}

.skillImg {
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.nav li {
  text-decoration: none;
}

.nav a{
  margin: 0 35px 0 30px;
  text-decoration: none;
  color: #34495e;
}

.nav a:hover {
  color: #d63d3e;
}

@media screen and (max-width: 750px) {
  .header {
    background-color: #34495e00;
    backdrop-filter: blur(10px);
    .mainLogo {
      margin: 0;
    }
    .header-link {
      color: #34495e00;
    }
  }

  .intro {
    background:url(../assets/img/memobile.jpeg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    h1, h2 {
      color: #34495e;
      font-size: 25px;
    }
    h2 {
      color: #34495e00;
    }
  }

  p {
    text-align: justify;
  }

  .skill-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }

  .skillImg {
    align-self: center;
  }

  .title > .description, .contact-description, .copyright {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  .contact > h3 {
    margin-bottom: 30px;
  }
  #menu{
    width: 35px;
    height: 30px;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
  }
  .bar{
    height: 5px;
    width: 100%;
    background-color: #d63d3d;
    display: block;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  #bar1{
    transform: translateY(-4px);
  }
  #bar3{
    transform: translateY(4px);
  }
  .nav li a{
    color: #fff;
    text-decoration: none;
  }
  .nav li a:hover {
    color: #ecf0f1;
    text-decoration: underline;
    
  }
  .nav li{
    list-style: none;
    padding: 16px 0;
  }
  .nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg, #menu-bar{
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
  .menu-bg{
    z-index: -1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle,#d63d1d,#d63d5d);
    border-radius: 50%;
  }

  .change-bg{
    transform: translate(60%, -30%);
    width: 500px;
    height: 450px;
  }
  .change .bar{
    background-color: white;
  }
  .change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
    opacity: 0;
  }
  .change{
    display: block;
    margin-left: -120px;
  }
  .change a{
    margin-right: 0;
    margin-left: 50px;
  }
}